In [2]:
import pandas as pd

In [3]:
url='https://sta.ci.taiwan.gov.tw/STA_AirQuality_v2/v1.0/Datastreams?$expand=Thing,Observations($orderby=phenomenonTime%20desc;$top=1)&$filter=name%20eq%20%27PM2.5%27%20and%20Thing/properties/authority%20eq%20%27%E8%A1%8C%E6%94%BF%E9%99%A2%E7%92%B0%E5%A2%83%E4%BF%9D%E8%AD%B7%E7%BD%B2%27%20and%20substringof(%27%E7%A9%BA%E6%B0%A3%E5%93%81%E8%B3%AA%E6%B8%AC%E7%AB%99%27,Thing/name)&$count=true'

In [5]:
datas=pd.read_json(url)['value']
datas

0     {'description': '細懸浮微粒 PM2.5', '@iot.id': 11, ...
1     {'description': '細懸浮微粒 PM2.5', '@iot.id': 29, ...
2     {'description': '細懸浮微粒 PM2.5', '@iot.id': 47, ...
3     {'description': '細懸浮微粒 PM2.5', '@iot.id': 65, ...
4     {'description': '細懸浮微粒 PM2.5', '@iot.id': 83, ...
                            ...
72    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1307...
73    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1325...
74    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1343...
75    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1361...
76    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1379...
Name: value, Length: 77, dtype: object

## 取得縣市和站點

In [10]:
city,stationName=datas[0]['Thing']['properties']['city'],datas[0]['Thing']['properties']['stationName']
city,stationName

('基隆市', '基隆')

## 取PM2.5和時間

In [14]:
result,resultTime=datas[0]['Observations'][0]['result'],datas[0]['Observations'][0]['resultTime']
result,resultTime

(11, '2022-06-19T05:00:00.000Z')

# 輸出所有站點資料

In [17]:
all=[]
for data in datas:
    city,stationName=data['Thing']['properties']['city'],data['Thing']['properties']['stationName']
    result,resultTime=data['Observations'][0]['result'],data['Observations'][0]['resultTime']
    all.append([city,stationName,result,resultTime])
df1=pd.DataFrame(data=all,columns=['city','stationName','result','resultTime'])
df1

   city stationName  result                resultTime
0   基隆市          基隆      11  2022-06-19T05:00:00.000Z
1   新北市          汐止      13  2022-06-19T05:00:00.000Z
2   新北市          萬里      17  2022-06-19T05:00:00.000Z
3   新北市          新店      12  2022-06-19T05:00:00.000Z
4   新北市          土城       8  2022-06-19T05:00:00.000Z
..  ...         ...     ...                       ...
72  臺東縣          關山       5  2022-06-19T05:00:00.000Z
73  金門縣          金門      13  2022-06-19T05:00:00.000Z
74  連江縣          馬祖      12  2022-06-19T05:00:00.000Z
75  澎湖縣          馬公      15  2022-06-19T05:00:00.000Z
76  雲林縣          麥寮      11  2022-06-19T05:00:00.000Z

[77 rows x 4 columns]

In [18]:
df1.sort_values('result',ascending=False)

   city stationName  result                resultTime
17  桃園市          大園      23  2022-06-19T05:00:00.000Z
14  臺北市          松山      22  2022-06-19T05:00:00.000Z
10  臺北市          士林      21  2022-06-19T05:00:00.000Z
33  彰化縣          線西      19  2022-06-19T05:00:00.000Z
30  臺中市          忠明      19  2022-06-19T05:00:00.000Z
..  ...         ...     ...                       ...
4   新北市          土城       8  2022-06-19T05:00:00.000Z
63  宜蘭縣          宜蘭       7  2022-06-19T05:00:00.000Z
69  高雄市          復興       7  2022-06-19T05:00:00.000Z
64  宜蘭縣          冬山       6  2022-06-19T05:00:00.000Z
72  臺東縣          關山       5  2022-06-19T05:00:00.000Z

[77 rows x 4 columns]